@model Vehicle_Registration_Backend.Models.UserVehicle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.ContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehicle.id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
